<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <meta name="description" content="BootWeb后台管理">
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css"  rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="bw/css/login.min.css" rel="stylesheet"/>
    <link href="bw/css/bw.css" rel="stylesheet"/>
    <style type="text/css">label.error { position: inherit}</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-12">
            <form id="signupForm" autocomplete="off">
                <p class="text-center font-bold">Boot Web</p>
                <h4 class="no-margins">登录：</h4>
                <input type="text"     name="username" class="form-control uname"     placeholder="用户名" value="admin"    />
                <input type="password" name="password" class="form-control pword"     placeholder="密码"   value="admin123" />
                <div class="row m-t" th:if="${verifyCodeEnabled == true}">
                    <div class="col-xs-6">
                        <input type="text" name="validateCode" class="form-control code" placeholder="验证码" maxlength="5" />
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img th:src="@{captcha/captchaImage(type=${verifyCodeType})}" class="imgcode" width="85%"/>
                        </a>
                    </div>
                </div>
                <div class="checkbox-custom" th:classappend="${verifyCodeEnabled == false} ? 'm-t'">
                    <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme">记住我</label>
                </div>
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            <p text> &copy; 2020 All Rights Reserved. BootWeb <br>
        </div>
    </div>
</div>
<!--<script type="javascript"> var ctx = "/"; </script>-->
<!-- 全局js -->
<script th:inline="javascript"> var ctx = [[@{/}]]; var verifyCodeType = [[${verifyCodeType}]];</script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js" ></script>
<!-- 验证插件 -->
<script src="ajax/libs/validate/jquery.validate.min.js"></script>
<script src="ajax/libs/validate/messages_zh.min.js"></script>
<script src="ajax/libs/layer/layer.min.js"></script>
<script src="ajax/libs/blockUI/jquery.blockUI.js"></script>
<script src="bw/login.js"></script>
<script src="bw/js/bw.js"></script>
</body>
</html>