<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jee.boot.system.mapper.SysLogOperMapper">
    
    <resultMap type="SysLogOperDTO" id="SysLogOperResult">
        <result property="operId"    column="oper_id"    />
        <result property="title"    column="title"    />
        <result property="businessType"    column="business_type"    />
        <result property="method"    column="method"    />
        <result property="requestMethod"    column="request_method"    />
        <result property="operatorType"    column="operator_type"    />
        <result property="operName"    column="oper_name"    />
        <result property="deptName"    column="dept_name"    />
        <result property="operUrl"    column="oper_url"    />
        <result property="operIp"    column="oper_ip"    />
        <result property="operLocation"    column="oper_location"    />
        <result property="operParam"    column="oper_param"    />
        <result property="jsonResult"    column="json_result"    />
        <result property="status"    column="status"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="operTime"    column="oper_time"    />
    </resultMap>
	
	<sql id="selectLogOperVo">
        select oper_id, title, business_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time
        from sys_log_oper
    </sql>
	
    <select id="selectLogOperList" parameterType="SysLogOper" resultMap="SysLogOperResult">
        <include refid="selectLogOperVo"/>
        <where>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="businessType != null">
                AND business_type = #{businessType}
            </if>
            <if test="businessTypes != null and businessTypes.length > 0">
                AND business_type in
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="operName != null and operName != ''">
                AND oper_name like concat('%', #{operName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(oper_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(oper_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectLogOperById" parameterType="Long" resultMap="SysLogOperResult">
        <include refid="selectLogOperVo"/>
        where oper_id = #{operId}
    </select>
        
    <insert id="insertLogOper" parameterType="SysLogOper" useGeneratedKeys="true" keyProperty="operId">
        insert into sys_log_oper
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="businessType != null  ">business_type,</if>
			<if test="method != null  and method != ''  ">method,</if>
			<if test="requestMethod != null  and requestMethod != ''  ">request_method,</if>
			<if test="operatorType != null  ">operator_type,</if>
			<if test="operName != null  and operName != ''  ">oper_name,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="operUrl != null  and operUrl != ''  ">oper_url,</if>
			<if test="operIp != null  and operIp != ''  ">oper_ip,</if>
			<if test="operLocation != null  and operLocation != ''  ">oper_location,</if>
			<if test="operParam != null  and operParam != ''  ">oper_param,</if>
			<if test="jsonResult != null  and jsonResult != ''  ">json_result,</if>
			<if test="status != null  ">status,</if>
			<if test="errorMsg != null  and errorMsg != ''  ">error_msg,</if>
			<if test="operTime != null  ">oper_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="businessType != null  ">#{businessType},</if>
			<if test="method != null  and method != ''  ">#{method},</if>
			<if test="requestMethod != null  and requestMethod != ''  ">#{requestMethod},</if>
			<if test="operatorType != null  ">#{operatorType},</if>
			<if test="operName != null  and operName != ''  ">#{operName},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="operUrl != null  and operUrl != ''  ">#{operUrl},</if>
			<if test="operIp != null  and operIp != ''  ">#{operIp},</if>
			<if test="operLocation != null  and operLocation != ''  ">#{operLocation},</if>
			<if test="operParam != null  and operParam != ''  ">#{operParam},</if>
			<if test="jsonResult != null  and jsonResult != ''  ">#{jsonResult},</if>
			<if test="status != null  ">#{status},</if>
			<if test="errorMsg != null  and errorMsg != ''  ">#{errorMsg},</if>
			<if test="operTime != null  ">#{operTime},</if>
         </trim>
    </insert>
	 
    <update id="updateLogOper" parameterType="SysLogOper">
        update sys_log_oper
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="businessType != null  ">business_type = #{businessType},</if>
            <if test="method != null  and method != ''  ">method = #{method},</if>
            <if test="requestMethod != null  and requestMethod != ''  ">request_method = #{requestMethod},</if>
            <if test="operatorType != null  ">operator_type = #{operatorType},</if>
            <if test="operName != null  and operName != ''  ">oper_name = #{operName},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="operUrl != null  and operUrl != ''  ">oper_url = #{operUrl},</if>
            <if test="operIp != null  and operIp != ''  ">oper_ip = #{operIp},</if>
            <if test="operLocation != null  and operLocation != ''  ">oper_location = #{operLocation},</if>
            <if test="operParam != null  and operParam != ''  ">oper_param = #{operParam},</if>
            <if test="jsonResult != null  and jsonResult != ''  ">json_result = #{jsonResult},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="errorMsg != null  and errorMsg != ''  ">error_msg = #{errorMsg},</if>
            <if test="operTime != null  ">oper_time = #{operTime},</if>
        </trim>
        where oper_id = #{operId}
    </update>

	<delete id="deleteLogOperById" parameterType="Long">
        delete from sys_log_oper where oper_id = #{operId}
    </delete>
	
    <delete id="deleteLogOperByIds" parameterType="Long">
        delete from sys_log_oper where oper_id in 
        <foreach item="operId" collection="array" open="(" separator="," close=")">
            #{operId}
        </foreach>
    </delete>

    <update id="deleteOperLogAll">
        truncate table sys_log_oper
    </update>
</mapper>